<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/students.js"/>
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'"></p>

<div id="students">
    <h4>Students</h4>
    <div id="studentList" th:each="student : ${students}">
        <div th:onclick="|details_${student.id}.hidden = !details_${student.id}.hidden|" style="background:lightgray">
            <span th:text="${student.firstName}">First name</span>
            <span th:text="${student.lastName}">Last name</span>
        </div>
        <p/>
        <div th:id="'details_' + ${student.id}" hidden="true">
            Personal details
            <form th:action="'/console/students/' + ${student.id}" method="post">
                <fieldset>
                    <button form="dummyForm" type="submit" formmethod="post"
                            th:formaction="'/console/deleteStudent/' + ${student.id}">Delete
                    </button>
                    <br/>
                    First name: <input type="text" name="firstName" th:value="${student.firstName}"/><br/>
                    Last name: <input type="text" name="lastName" th:value="${student.lastName}"/><br/>
                    <input type="radio" name="gender" value="male"
                           th:checked="${#strings.equals(student.gender, 'male')}"/> Male
                    <input type="radio" name="gender" value="female"
                           th:checked="${#strings.equals(student.gender, 'female')}"/> Female<br/>
                    Birth date: <input type="date" name="birthDate"
                                       th:value="${#dates.format(student.birthDate, 'yyyy-MM-dd')}"/><br/>
                    Age: <span th:text="${student.age}">10</span><br/>
                    <input type="submit" value="Update"/>
                </fieldset>
            </form>

            <div id="assignedCourses" th:each="assignedCourse: ${student.courseAssignments}">
                Assigned courses
                <div>
                    <span th:text="${assignedCourse.value.courseDisplayName}">Course name</span>
                </div>
            </div>
            <div id="availableCourses" th:each="course: ${availableCourses}">
                Available courses:
                <div>
                    <form th:action="'/console/students/assign/' + ${student.id}" method="post">
                        <fieldset>
                            <span th:text="${course.displayName}">Course name</span>
                            <input type="hidden" name="courseId" th:value="${course.id}"/>
                            <input type="submit" value="Add"/>
                        </fieldset>
                    </form>
                </div>
                <div ></div>
            </div>
        </div>
    </div>

    <div id="newStudent">
        <div onclick="createStudentForm.hidden = !createStudentForm.hidden" style="background:lightgray">
            New student
        </div>
        <form id="createStudentForm" action="/console/students" method="post" hidden="hidden">
            <fieldset>
                First name: <input type="text" name="firstName"/><br/>
                Last name: <input type="text" name="lastName"/><br/>
                <input type="radio" name="gender" value="male" checked="checked"/> Male
                <input type="radio" name="gender" value="female"/> Female<br/>
                Birth date: <input type="date" name="birthDate"/>
                <br/>
                <input type="submit" value="Create"/>
            </fieldset>
        </form>
    </div>
</div>

<div id="invisibleDiv" hidden="hidden">
    <form id="dummyForm"></form>
</div>
</body>
</html>
